[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: static!important;
    left: 0px!important;
    opacity: 1!important;
    visibility: visible!important;
    pointer-events: all!important;
    }